body
{
  color: #ffffff;
  background: #96d307;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed #000000;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: #000000;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}
label{
  font-size: 14px;
  color: #fc6501;
  padding: 6px;
  border-radius: 10px;
  background-color: #ffffff;
}